.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    //animation: color-change-2x 3s linear infinite alternate both;
    background-color: #fabada;

// logo de la bolita arriba a la derecha
    &__ayuda{   
        display: flex;
        position: fixed;
        top: 35px;
        right: 35px;
        width: 30px;
        height: 30px;
        }

// logo ajustes arriba a la izquierda (para cambiar background color, color de la letra, etc)
    &__ajustes{
        display: flex;
        position: fixed;
        top: 35px;
        left: 35px;
        width: 30px;
        height: 30px;
    }

// logo principal de la página
    &__logo{
        display: flex;
        width: 60%;
        padding: 50px;
    }

// buscador de pokemons
    &__buscador{
        width: 260px;
        margin-bottom: 5%;
        margin-top: 3%;
        padding: 5px;
        background-color: rgb(255, 204, 1);
        border: 8px double rgb(51, 98, 174);
        }

// los div con los pokemons y la información
    &__pokemon{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        div{
            display: flex;
            flex-direction: column;
            height: 250px;
            width: 200px;
            margin: 2%;
            align-items: center;
            border: 20px double rgb(51, 98, 174);
            background-color: rgb(255, 204, 1);
            border-radius: 15%;

            img{
                max-width: 95%;
                height: 200px;
                padding: 5px;
            }
            p{
                margin-bottom: 3%;
                text-decoration: underline;
            }
            h4{
                padding-top: 5px;
            }
            h3{
                margin-bottom: 3%;
            }
        }
        div:hover{
            animation:rotate-center .4s ease-in-out both;

            div{
                width: 100%;
            }
            p{
                display: none;
            }
            h3{
                display: none;
            }
            h4{
                font-size: 30px;
                text-transform: capitalize;
            }
        }
    }

// los dos botones del final (juegos)
    &__juegos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5%;
        margin-top: 3%;

        &--2{
            width: 200px;
            height: 40px;
            background-color: rgb(255, 204, 1);
            border: 8px double rgb(51, 98, 174);
            margin-top: 3%;
            
        }
        &--2:hover{
            background-color: rgb(51, 98, 174);
            color: rgb(255, 204, 1);
            border: 8px double rgb(255, 204, 1);

        }
    }
}